Repository comworkio/imalive: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api_x86, api_arm

.gitlab-ci.yml:

stages:
  - publish
  - deliver
  - deploy

mirror:
  stage: publish
  script:
    - setsid ./ci/mirror.sh
  only:
    - /^(main.*)$/
  tags:
    - mirror

api_x86:
  stage: deliver
  script:
    - setsid ./ci/docker-deliver.sh "x86" "imalive-api" "1.7"
  only:
    refs:
      - /^(main.*)$/
    changes:
      - .gitlab-ci.yml
      - api/*
      - ci/docker-deliver.sh
      - docker-compose-build-x86.yml
      - Dockerfile
  tags:
    - imalive

api_arm:
  stage: deliver
  script:
    - setsid ./ci/docker-deliver.sh "arm" "imalive-api" "1.7"
  only:
    refs:
      - /^(main.*)$/
    changes:
      - .gitlab-ci.yml
      - api/*
      - ci/docker-deliver.sh
      - docker-compose-build-arm.yml
      - Dockerfile.arm
  tags:
    - buildarm

Add ansible role
  ansible-imalive/defaults/main.yml
  ansible-imalive/meta/main.yml
  ansible-imalive/tasks/main.yml
  ansible-imalive/templates/docker-compose-imalive.yml.j2
Due: none

Add ansible role to the doc
  README.md
Due: none

Fix: documentation
  README.md
Due: none

Add a POST endpoint to comply with openfaas GUI
  .gitlab-ci.yml
  api/api_health.py
  api/health_utils.py
Due: api_x86, api_arm

Feat/migrate to fastapi
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  README.md
  api/api.py
  api/api_health.py
  api/api_manifest.py
  api/api_metrics.py
  api/requirements.txt
  docker-compose-local.yml
  img/logo.png
  requirements.txt
  src/app.py
  src/main.py
  src/restful_ressources.py
  src/routes/api_health.py
  src/routes/api_manifest.py
  src/routes/api_metrics.py
  src/utils/common.py
  src/utils/health.py
  src/utils/heartbit.py
  src/utils/metrics.py
Due: api_x86, api_arm

feat: add app version environment variable
  .env.example
  README.md
  src/main.py
Due: none

Get version from manifest file
  src/main.py
  src/routes/api_manifest.py
  src/utils/manifests.py
Due: none

docs: fix README
  README.md
Due: none

Diverses fixes
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  docker-compose-local.yml
  requirements.txt
  src/main.py
  src/restful_ressources.py
  src/routes/api_manifest.py
  src/routes/api_root.py
  src/utils/manifests.py
Due: api_x86, api_arm

Remove unused import
  src/main.py
Due: none

feat: add logger functions
  .env.example
  .gitlab-ci.yml
  src/utils/logger.py
Due: api_x86, api_arm

fix: update utils common file
  src/utils/common.py
Due: none

fix: rename HEART_BIT_LOG_JSON => LOG_FORMAT
  Dockerfile
  Dockerfile.arm
  README.md
  src/utils/heartbit.py
Due: api_x86, api_arm

feat: add metrics log message
  .env.example
  Dockerfile
  Dockerfile.arm
  README.md
  src/utils/heartbit.py
Due: api_x86, api_arm

feat: add unit tests
  .gitignore
  .gitlab-ci.yml
  Dockerfile
  README.md
  ci/test.sh
  docker-compose-local.yml
  src/tests/__init__.py
  src/tests/test.py
  src/tests/test_health.py
  src/tests/test_manifest.py
  src/tests/test_metrics.py
  src/utils/health.py
Due: api_x86, api_arm

Remove useless touch
  ci/test.sh
Due: none

Change mirror adress
  README.md
Due: none

Remove bitbucket
  README.md
Due: none

Remove bitbucket
  ci/mirror.sh
Due: none

Opentelemetry
  .gitlab-ci.yml
  CONTRIBUTING.md
  README.md
  requirements.txt
  src/main.py
  src/utils/heartbit.py
  src/utils/logger.py
  src/utils/prom.py
Due: api_x86, api_arm

Add swap metrics
  .gitlab-ci.yml
  src/utils/heartbit.py
Due: api_x86, api_arm

Feat/add detailed msgs
  .env.example
  .gitlab-ci.yml
  README.md
  src/utils/heartbit.py
  src/utils/logger.py
  src/utils/metrics.py
Due: api_x86, api_arm

Fix: imalive issues and add new metrics + refactoring
  .gitlab-ci.yml
  README.md
  src/utils/heartbit.py
  src/utils/metrics.py
Due: api_x86, api_arm

Improve helmchart with two variables
  helm/templates/deployment.yaml
  helm/values.yaml
Due: none

Improve logger
  .gitlab-ci.yml
  src/utils/heartbit.py
  src/utils/logger.py
Due: api_x86, api_arm

Fix: metrics
  .gitlab-ci.yml
  src/utils/heartbit.py
Due: api_x86, api_arm

feat: add github release workflow
  .github/workflows/release.yml
  .gitlab-ci.yml
  VERSION
  ci/docker-deliver.sh
Due: api_x86, api_arm

fix: change version
  VERSION
Due: none

Refactoring
  VERSION
  src/main.py
  src/utils/heartbit.py
Due: none

Refactoring
  src/utils/heartbit.py
Due: none

Prepare OTEL support for imalive
  .docker/otel-collector-config.yaml
  .env.example
  docker-compose-local.yml
  requirements.txt
  src/main.py
  src/routes/api_health.py
  src/routes/api_manifest.py
  src/routes/api_metrics.py
  src/routes/api_root.py
Due: none

Add missing dependancy and bump the version
  .gitlab-ci.yml
  Dockerfile
  VERSION
  requirements.txt
Due: api_x86, api_arm

Fix: otel exporter conf and circular dependancies
  .docker/otel-collector-config.yaml
  Dockerfile
  src/main.py
  src/routes/api_health.py
  src/routes/api_manifest.py
  src/routes/api_metrics.py
  src/routes/api_root.py
  src/utils/otel.py
Due: api_x86

Fix: OTEL exporter config
  .docker/otel-collector-config.yaml
  .env.example
  docker-compose-local.yml
Due: none

Rename variables
  .env.example
  README.md
  src/utils/otel.py
Due: none

Add a trace in the heartbit
  src/main.py
  src/utils/heartbit.py
Due: none

Add service name
  src/utils/otel.py
Due: none

Implement OTEL metrics
  .docker/otel-collector-config.yaml
  .docker/prometheus.yml
  CONTRIBUTING.md
  docker-compose-local.yml
  src/main.py
  src/utils/heartbit.py
  src/utils/otel.py
  src/utils/prom.py
Due: none

Fix: gauge observer
  src/utils/gauge.py
  src/utils/heartbit.py
Due: none

Remove useless import
  src/utils/heartbit.py
Due: none
