Repository comworkio/imalive: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api_x86, api_arm, deploy

api_x86:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "x86" "imalive-api" "1.0"
  tags:
  - imalive

api_arm:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "arm" "imalive-api" "1.0"
  tags:
  - buildarm

deploy:
  stage: deploy
  script:
  - setsid ./ci/deploy.sh
  tags:
  - imalive

Fix: remove deploy
  .gitlab-ci.yml
  ci/deploy.sh
Due: api_x86, api_arm, deploy

Add heartbit feature
  .env.example
  Dockerfile
  Dockerfile.arm
  api/api.py
  api/heartbit.py
Due: api_x86, api_arm, deploy

Bad environment variable key
  api/heartbit.py
Due: api_x86, api_arm

Fix: multiple errors
  .env.example
  Dockerfile
  Dockerfile.arm
  api/api.py
  api/heartbit.py
Due: api_x86, api_arm, deploy

Change base image
  Dockerfile.arm
Due: api_arm

Fix: links
  README.md
Due: none

Missing command for arm version
  .gitlab-ci.yml
  Dockerfile.arm
Due: api_x86, api_arm, deploy

Docker login first
  ci/docker-deliver.sh
Due: api_x86, api_arm

Add date and manifest api
  .gitlab-ci.yml
  README.md
  api/api.py
  api/api_health.py
  api/api_manifest.py
  api/heartbit.py
Due: api_x86, api_arm, deploy

Improve documentation
  README.md
Due: none

Improve documentation
  README.md
  img/celine.jpeg
Due: none

Add disk usage api
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  api/api.py
  api/api_disk.py
  api/heartbit.py
  api/metrics_utils.py
  api/requirements.txt
  docker-compose-arm.yml
Due: api_x86, api_arm, deploy

Add metrics
  README.md
  api/api.py
  api/api_disk.py
  api/api_metrics.py
  api/heartbit.py
  api/metrics_utils.py
Due: api_x86, api_arm

Break line
  api/metrics_utils.py
Due: api_x86, api_arm

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: api_x86, api_arm, deploy

Add kibana picture
  README.md
  img/kibana.png
Due: none

Update README.md
  README.md
Due: none

Add informations to metrics endpoint
  .gitlab-ci.yml
  api/metrics_utils.py
Due: api_x86, api_arm, deploy

Add bitbucket mirror
  README.md
  ci/mirror.sh
Due: none

Improve log format with a json only option
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  README.md
  api/common_utils.py
  api/heartbit.py
Due: api_x86, api_arm, deploy

Downgrade workzeug because of #cs01/gdbgui/issues/425
  .gitlab-ci.yml
  api/requirements.txt
Due: api_x86, api_arm, deploy

feat(helm): preparte helm chart
  docker-compose-local.yml
  helm/Chart.yml
  helm/templates/all.yml
  helm/values.yml
Due: none

Improve helm chart with templates and chart.lock
  helm/Chart.lock
  helm/Chart.yaml
  helm/templates/all.yml
  helm/values.yml
Due: none

feat(helm): improve template with helpers
  helm/templates/all.yml
  helm/values.yml
Due: none

feat(helm): split templates
  helm/templates/all.yml
  helm/templates/deployment.yaml
  helm/templates/service.yaml
  helm/values.yaml
Due: none

feat(helm): add ingress template
  helm/templates/ingress.yaml
  helm/values.yaml
Due: none

Missing environment variables
  docker-compose-local.yml
  docker-compose.yml
  helm/README.md
  helm/templates/deployment.yaml
  helm/values.yaml
Due: none

fix(helm): fix various errors
  helm/README.md
  helm/templates/deployment.yaml
  helm/templates/ingress.yaml
  helm/templates/service.yaml
Due: none

fix(helm): rename public port, service port
  helm/templates/ingress.yaml
  helm/templates/service.yaml
  helm/values.yaml
Due: none

Improve documentation
  helm/README.md
Due: none

Fix is_not_empty bug using integers
  .gitlab-ci.yml
  api/common_utils.py
Due: api_x86, api_arm, deploy

Update docker-compose.yml
  docker-compose.yml
Due: none

Path conditions:
  api_x86: any of: .gitlab-ci.yml, api/*, ci/docker-deliver.sh, docker-compose-build-x86.yml, Dockerfile
  api_arm: any of: .gitlab-ci.yml, api/*, ci/docker-deliver.sh, docker-compose-build-arm.yml, Dockerfile.arm
  deploy: any of: .gitlab-ci.yml, api.py, requirements.txt, ci/deploy.sh, docker-compose-intra.yml, Dockerfile
